<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<aside th:insert="~{admin/common/headerAdmin :: admin-header-common}" />
</head>

<body>
	<aside th:insert="~{admin/common/adminLeftPanel :: left-panel-common}" />

	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">
		<!-- Header-->
		<aside
			th:insert="~{admin/common/headerRightPanel :: header-rightPanel-common}" />
		<!-- /#header -->
		<!-- Content -->
		<div class="content">

			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<strong>ADD NEW LESSON</strong>
					</div>
					<div class="card-body card-block">
						<form th:action="@{/admin/addOrUpdateLesson}" method="post"
							enctype="multipart/form-data" th:object="${lesson}"
							class="form-horizontal">
							
							<input type="hidden" th:field="${lesson.id}" th:value="${lesson.id}"/>
							<input type="hidden" th:field="${lesson.videoUrl}" th:value="${lesson.videoUrl}"/>

							<div class="row form-group">
								<div class="col col-md-3">
									<label for="text-input" class=" form-control-label">Title</label>
								</div>
								<div class="col-12 col-md-9">
									<input th:field="${lesson.title}" required type="text"
										id="text-input" name="text-input" placeholder="Title"
										class="form-control"><small
										class="form-text text-muted">Title of lesson</small>
								</div>
							</div>

							<div class="row form-group">
								<div class="col col-md-3">
									<label for="text-input" class=" form-control-label">Course</label>
								</div>
								<div class="col-12 col-md-9">
									<select required name="selectCourse" id="selectLg"
										class="form-control-lg form-control">
										<option th:each="c : ${lsc}" th:value="${c.id}"
											th:selected="${lesson.course == c}"
											th:text="${c.title}"></option>
									</select>
								</div>
							</div>


							<div class="row form-group">
								<div class="col col-md-3">
									<label class=" form-control-label">Is actived</label>
								</div>
								<div class="col col-md-9">
									<div class="form-check-inline form-check">
										<label for="inline-checkbox1" class="form-check-label ">
											<input th:checked="${lesson.isActived}" type="checkbox" id="inline-checkbox1"
											name="isActived" value="true" class="form-check-input">
										</label>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col col-md-3">
									<label for="file-input" class=" form-control-label">File
										video</label>
								</div>
								<div class="col-12 col-md-9">
									<input type="file" id="file-input" name="videoFile"
									th:attr="required=${lesson.videoUrl == null or lesson.videoUrl.isEmpty() ? 'required' : null}"
										class="form-control-file" th:text="${lesson.videoUrl}">
								</div>
							</div>
							<div class="card-footer">
								<button type="submit" class="btn btn-primary btn-sm">
									<i class="fa fa-dot-circle-o"></i> Submit
								</button>
								<button type="reset" class="btn btn-danger btn-sm">
									<i class="fa fa-ban"></i> Reset
								</button>
							</div>
						</form>
					</div>

				</div>
			</div>

		</div>

		<!-- /.content -->
		<div class="clearfix"></div>
		<!-- Footer -->
		<aside th:insert="~{admin/common/footerAdmin :: footer-admin-common}" />

		<!-- /.site-footer -->
	</div>
	<!-- /#right-panel -->

	<!-- Scripts -->
	<aside th:insert="~{admin/common/scriptCommon :: script-common}" />

</body>
</html>